/marketcap1.csv
/marketcap10.csv
/marketcap11.csv
/marketcap12.csv
/marketcap13.csv
/marketcap14.csv
/marketcap15.csv
/marketcap16.csv
/marketcap17.csv
/marketcap18.csv
/marketcap19.csv
/marketcap2.csv
/marketcap20.csv
/marketcap21.csv
/marketcap22.csv
/marketcap23.csv
/marketcap24.csv
/marketcap25.csv
/marketcap26.csv
/marketcap27.csv
/marketcap28.csv
/marketcap29.csv
/marketcap3.csv
/marketcap30.csv
/marketcap31.csv
/marketcap32.csv
/marketcap33.csv
/marketcap34.csv
/marketcap35.csv
/marketcap36.csv
/marketcap37.csv
/marketcap38.csv
/marketcap39.csv
/marketcap4.csv
/marketcap40.csv
/marketcap41.csv
/marketcap42.csv
/marketcap43.csv
/marketcap44.csv
/marketcap45.csv
/marketcap46.csv
/marketcap47.csv
/marketcap48.csv
/marketcap49.csv
/marketcap5.csv
/marketcap50.csv
/marketcap51.csv
/marketcap52.csv
/marketcap53.csv
/marketcap54.csv
/marketcap55.csv
/marketcap56.csv
/marketcap57.csv
/marketcap58.csv
/marketcap59.csv
/marketcap6.csv
/marketcap60.csv
/marketcap61.csv
/marketcap62.csv
/marketcap63.csv
/marketcap64.csv
/marketcap65.csv
/marketcap66.csv
/marketcap67.csv
/marketcap68.csv
/marketcap69.csv
/marketcap7.csv
/marketcap70.csv
/marketcap71.csv
/marketcap72.csv
/marketcap73.csv
/marketcap74.csv
/marketcap75.csv
/marketcap76.csv
/marketcap77.csv
/marketcap78.csv
/marketcap79.csv
/marketcap8.csv
/marketcap80.csv
/marketcap81.csv
/marketcap82.csv
/marketcap83.csv
/marketcap84.csv
/marketcap85.csv
/marketcap86.csv
/marketcap87.csv
/marketcap88.csv
/marketcap9.csv
/myenv